{{! 内容头部 }}
<div id="home">
    <div class="banner">
        <img src="/images/back.jpg" alt="back" class="img-responsive">
        <div class="caption">
            <div class="caption-wrapper">
                <div class="caption-info">
                    <h1 class="animated bounceInUp">
                        Yeung Ukun
                    </h1>
                    <p class="animated bounceInLeft">
                        Yeung Develop Factory
                    </p>
                    <div class="animated bounceInDown">
                        <a href="#ports" class="btn btn-default explore">Ports</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{! 内容主体 }}
<div id="ports" class="clearfix grid">
    <figure class="effect-oscar wowload fadeInUp">
        <img src="/images/portfolio/1.jpg" alt="img01" />
        <figcaption>
            <h2>Cappuchino</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="#" title="1" data-gallery>View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar wowload fadeInUp">
        <img src="/images/portfolio/2.jpg" alt="img02" />
        <figcaption>
            <h2>Cappuchino</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="#" title="1" data-gallery>View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar wowload fadeInUp">
        <img src="/images/portfolio/3.jpg" alt="img03" />
        <figcaption>
            <h2>Cappuchino</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="#" title="1" data-gallery>View more</a></p>
        </figcaption>
    </figure>
</div>